<a href="https://colab.research.google.com/github/Pepcoders/Data-Science-March/blob/main/Pandas%5CPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
A = pd.Series([10, 20, 30, 40])

In [3]:
A

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
A.values

array([10, 20, 30, 40])

In [5]:
A.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
B = pd.Series([50, 60, 70, 80], index = ['a', 'b', 'c', 'd'])

In [7]:
B

a    50
b    60
c    70
d    80
dtype: int64

In [8]:
B.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
B.values

array([50, 60, 70, 80])

In [10]:
A[0]

10

In [11]:
B['a']

50

In [12]:
A.iloc[0]

10

In [13]:
A.iloc[1]

20

In [14]:
B.iloc[0]

50

In [16]:
B.loc['a']

50

In [17]:
C = pd.Series([10, 20, 30, 40], index = [23, 54, 0, 1])

In [18]:
C

23    10
54    20
0     30
1     40
dtype: int64

In [19]:
C.iloc[0]

10

In [20]:
C.iloc[1]

20

In [21]:
C.loc[0]

30

In [22]:
C.iloc[0:2]

23    10
54    20
dtype: int64

In [23]:
C.loc[0:1]

0    30
1    40
dtype: int64

In [24]:
C.loc[54:1]

54    20
0     30
1     40
dtype: int64

In [25]:
B

a    50
b    60
c    70
d    80
dtype: int64

In [27]:
B['a':'c']

a    50
b    60
c    70
dtype: int64

In [28]:
d = {'a':10, 'b':20, 'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [33]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 7], [10,20,30]], columns = ['a', 'b', 'c'])

In [34]:
df

    a   b   c
0   1   2   3
1   4   5   7
2  10  20  30

In [35]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [36]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [49]:
tom = {"math":40, 'phy':75, 'chem':46}
jerry = {'math':53, 'phy':73, 'chem':74}
bob = {"math":73, "phy":34, 'chem':23}

In [52]:
data = {"Tom": tom, "Jerry":jerry, "Bob":bob}

df = pd.DataFrame(data)

In [53]:
df

      Tom  Jerry  Bob
math   40     53   73
phy    75     73   34
chem   46     74   23

In [54]:
df["Tom"]

math    40
phy     75
chem    46
Name: Tom, dtype: int64

In [55]:
df["Tom"]["math"]

40

In [56]:
df.loc["math"]

Tom      40
Jerry    53
Bob      73
Name: math, dtype: int64

In [57]:
df[["Tom", "Bob"]]

      Tom  Bob
math   40   73
phy    75   34
chem   46   23

In [58]:
df[[True, False, True]]

      Tom  Jerry  Bob
math   40     53   73
chem   46     74   23

In [61]:
df[df["Tom"] > 50]

     Tom  Jerry  Bob
phy   75     73   34

In [65]:
df

      Tom  Jerry  Bob
math   40     53   73
phy    75     73   34
chem   46     74   23

In [70]:
df["Tom"] = df["Tom"] + 10

math    60
phy     95
chem    66
Name: Tom, dtype: int64

In [69]:
df

      Tom  Jerry  Bob
math   50     53   73
phy    85     73   34
chem   56     74   23

In [86]:
tom = {"math":40, 'phy':75, 'chem':46}
jerry = {'math':53, 'phy':73}
bob = {"phy":34, 'chem':23}

In [87]:
data = {"Tom": tom, "Jerry":jerry, "Bob":bob}

df = pd.DataFrame(data)

In [88]:
df

      Tom  Jerry   Bob
math   40   53.0   NaN
phy    75   73.0  34.0
chem   46    NaN  23.0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, math to chem
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tom     3 non-null      int64
 1   Jerry   2 non-null      float64
 2   Bob     2 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 96.0+ bytes

In [94]:
df1 = df.copy()
df2 = df.copy()

In [91]:
df1

      Tom  Jerry   Bob
math   40   53.0   NaN
phy    75   73.0  34.0
chem   46    NaN  23.0

In [92]:
df2

      Tom  Jerry   Bob
math   40   53.0   NaN
phy    75   73.0  34.0
chem   46    NaN  23.0

In [101]:
df1["Bob"] = df1["Bob"].fillna(50)

In [102]:
df1

      Tom  Jerry   Bob
math   40   53.0  50.0
phy    75   73.0  34.0
chem   46    NaN  23.0

In [103]:
df1["Jerry"].fillna(30, inplace = True)

In [104]:
df1

      Tom  Jerry   Bob
math   40   53.0  50.0
phy    75   73.0  34.0
chem   46   30.0  23.0

In [85]:
df_copy["Bob"].fillna(30, inplace = True)
df_copy

      Tom  Jerry   Bob
math   40   53.0  30.0
phy    75   73.0  34.0
chem   46    NaN  23.0

In [105]:
df = pd.read_csv("https://raw.githubusercontent.com/purna135/ML-Datasets/main/covid_19_data.csv")

In [106]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
26708,26709,05/19/2020,Wyoming,US,2020-05-20 02:32:19,776.0,10.0,0.0
26709,26710,05/19/2020,Xinjiang,Mainland China,2020-05-20 02:32:19,76.0,3.0,73.0
26710,26711,05/19/2020,Yukon,Canada,2020-05-20 02:32:19,11.0,0.0,11.0
26711,26712,05/19/2020,Yunnan,Mainland China,2020-05-20 02:32:19,185.0,2.0,183.0
26712,26713,05/19/2020,Zhejiang,Mainland China,2020-05-20 02:32:19,1268.0,1.0,1267.0

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              26713 non-null  int64
 1   ObservationDate  26713 non-null  object
 2   Province/State   12882 non-null  object
 3   Country/Region   26713 non-null  object
 4   Last Update      26713 non-null  object
 5   Confirmed        26713 non-null  float64
 6   Deaths           26713 non-null  float64
 7   Recovered        26713 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [108]:
df.shape

(26713, 8)

In [109]:
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [114]:
df.drop(["SNo", "Last Update"], axis = 1, inplace = True)

In [115]:
df

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
26708,05/19/2020,Wyoming,US,776.0,10.0,0.0
26709,05/19/2020,Xinjiang,Mainland China,76.0,3.0,73.0
26710,05/19/2020,Yukon,Canada,11.0,0.0,11.0
26711,05/19/2020,Yunnan,Mainland China,185.0,2.0,183.0
26712,05/19/2020,Zhejiang,Mainland China,1268.0,1.0,1267.0

In [118]:
df.rename(columns = {"Province/State":"State", "Country/Region":"Country"}, inplace = True)

In [119]:
df

      ObservationDate      State         Country  Confirmed  Deaths  Recovered
0          01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1          01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2          01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3          01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4          01/22/2020      Gansu  Mainland China        0.0     0.0        0.0
...               ...        ...             ...        ...     ...        ...
26708      05/19/2020    Wyoming              US      776.0    10.0        0.0
26709      05/19/2020   Xinjiang  Mainland China       76.0     3.0       73.0
26710      05/19/2020      Yukon          Canada       11.0     0.0       11.0
26711      05/19/2020     Yunnan  Mainland China      185.0     2.0      183.0
26712      05/19/2020   Zhejiang  Mainland China     1268.0     1.0     1267.0

[26713 rows x 6 columns]

In [120]:
df.describe()

           Confirmed        Deaths      Recovered
count   26713.000000  26713.000000   26713.000000
mean     5690.647550    373.353236    1736.979224
std     23417.369124   2214.074387   10864.727709
min         0.000000      0.000000       0.000000
25%        18.000000      0.000000       0.000000
50%       192.000000      3.000000       8.000000
75%      1350.000000     28.000000     187.000000
max    352845.000000  35341.000000  289392.000000

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  26713 non-null  object
 1   State            12882 non-null  object
 2   Country          26713 non-null  object
 3   Confirmed        26713 non-null  float64
 4   Deaths           26713 non-null  float64
 5   Recovered        26713 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.2+ MB

In [135]:
df["ObservationDate"] = pd.to_datetime(df["ObservationDate"])

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  26713 non-null  datetime64[ns]
 1   State            12882 non-null  object
 2   Country          26713 non-null  object
 3   Confirmed        26713 non-null  float64
 4   Deaths           26713 non-null  float64
 5   Recovered        26713 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.2+ MB

In [138]:
df.head()

  ObservationDate      State         Country  Confirmed  Deaths  Recovered
0      2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1      2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2      2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3      2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4      2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [141]:
df.head(10)

  ObservationDate      State         Country  Confirmed  Deaths  Recovered
0      2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1      2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2      2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3      2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4      2020-01-22      Gansu  Mainland China        0.0     0.0        0.0
5      2020-01-22  Guangdong  Mainland China       26.0     0.0        0.0
6      2020-01-22    Guangxi  Mainland China        2.0     0.0        0.0
7      2020-01-22    Guizhou  Mainland China        1.0     0.0        0.0
8      2020-01-22     Hainan  Mainland China        4.0     0.0        0.0
9      2020-01-22      Hebei  Mainland China        1.0     0.0        0.0

In [140]:
df.tail()

      ObservationDate     State         Country  Confirmed  Deaths  Recovered
26708      2020-05-19   Wyoming              US      776.0    10.0        0.0
26709      2020-05-19  Xinjiang  Mainland China       76.0     3.0       73.0
26710      2020-05-19     Yukon          Canada       11.0     0.0       11.0
26711      2020-05-19    Yunnan  Mainland China      185.0     2.0      183.0
26712      2020-05-19  Zhejiang  Mainland China     1268.0     1.0     1267.0

In [145]:
df.sample(5)

      ObservationDate      State         Country  Confirmed  Deaths  Recovered
23119      2020-05-09     Quebec          Canada    36997.0  2787.0        0.0
25268      2020-05-16        NaN          Greece     2819.0   162.0     1374.0
8170       2020-03-23     Oregon              US      191.0     5.0        0.0
20336      2020-05-01        NaN          Jordan      459.0     8.0      364.0
10882      2020-04-01  Guangdong  Mainland China     1501.0     8.0     1357.0

In [154]:
max = df["Deaths"].max()

In [156]:
df[df["Deaths"] == max]

      ObservationDate State Country  Confirmed   Deaths  Recovered
26504      2020-05-19   NaN      UK   248818.0  35341.0        0.0