<a href="https://colab.research.google.com/github/Pepcoders/Data-Science-March/blob/main/Python/Python_Crash_Course_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional Statements

In [ ]:
if condition:  
    # if block   
else:   
    # else-block

In [ ]:
num = int(input("Inter a num: "))

if num < 0:
  print("Negative")
else :
  print("Positive")

In [ ]:
marks = int(input("Enter Marks"))

if marks > 60:
  print("First Class")
elif marks > 45:
  print("Second Class")
elif marks > 30:
  print("Third Class")
else:
  print("Fail")

# Loops
- It provides code re-usability.
- Using loops, we do not need to write the same code again and again.

In [ ]:
for element in sequence:    
    # statements

In [ ]:
nums = [10, 20, 30, 40, 50]  
sum = 0  

for num in nums:  
  sum = sum + num
    
print("The sum is:",sum)

The sum is: 150

## range() function
- The range() function is used to generate the sequence of the numbers.
- range(start,stop,step size)

In [ ]:
for i in range(10):  
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10, 20, 2):  
    print(i, end = ' ')

10 12 14 16 18

## Else in for loop
The else clause executes after the loop completes normally. This means that the loop did not encounter a break statement.

In [ ]:
# Program to Find a element without using else in for loop

nums = [10, 20, 30, 40, 50]

num = int(input("Enter Number to find: "))

flag = False

for ele in nums:
  if(ele == num):
    print("Found")
    flag = True
    break;

if flag == False:
  print("Not Found")

Enter Number to find: 100
Not Found

In [ ]:
# Program to Find a element using for loop with else statement

num = int(input("Enter Number to find: "))

for ele in nums:
  if(ele == num):
    print("Found")
    break;
else:
  print("Not Found")

Enter Number to find: 40
Found

## Nested for loop

In [ ]:
matrix = [
          [10, 20, 30, 40],
          [50, 60, 70, 80],
          [90, 100, 110, 120]
]

for row in matrix:
  for ele in row:
    print(ele, end = ' ')
  print()

10 20 30 40
50 60 70 80
90 100 110 120

## While loop

In [ ]:
score = 0
while score < 100:
  print("Play...")
  score = score + 10

print("You win the Game")

Play...
Play...
Play...
Play...
Play...
Play...
Play...
Play...
Play...
Play...
You win the Game

## Pass 
In Python, pass is a null statement. The interpreter does not ignore a pass statement, but nothing happens and the statement results into no operation.

In [ ]:
if True:
  pass

In [ ]:
# Empty Function  
def function_name(args):  
    pass  
#Empty Class  
class Python:  
    pass

# Function

In [ ]:
def get_sum(a, b):
  """
  This is a demo function to add two variable
  """
  print("sum of {} and {} is {}".format(a, b, a + b))
  return a + b

sum = get_sum(10, 30)
print(sum)

sum of 10 and 30 is 40
40

In [ ]:
print(get_sum.__doc__)

  This is a demo function to add two variable

In [ ]:
# Function with multiple return type

def calculate(a, b):
  sum = a + b
  diff = a - b
  mul = a * b
  return (sum, diff, mul)


result = calculate(10, 20)
print(result)

(30, -10, 200)

In [ ]:
result[0]

30

In [ ]:
sum, diff, mul = calculate(10, 20)
print("Sum =", sum)
print("Diff =", diff)
print("Mul =", mul)

Sum = 30
Diff = -10
Mul = 200

In [ ]:
def say_hello(name, msg):
  print("Hello", name, msg)

say_hello("Python", "Good Morning")

Hello Python Good Morning

In [ ]:
def say_hello(name, msg = "Good Morning"):
  print("Hello", name, msg)

say_hello("Python")

Hello Python Good Morning

In [ ]:
def say_hello(name, *msgs):
  print("Hello", name)
  for msg in msgs:
    print(msg)

say_hello("Python", "Good Morning", "How are you")

Hello Python
Good Morning
How are you

In [ ]:
def fun(**kwargs):
  for (key, value) in kwargs.items():
    print("My {} in {}".format(key, value))

fun(name = "Python", age = 20, father = "Guido van")

My name in Python
My age in 20
My father in Guido van

# Pre define Functions

## abs()

In [ ]:
a = -10
b = 30
print(abs(a))
print(abs(b))

10
30

## all()

In [ ]:
l1 = [0, 10, 20, 30]
l2 = [-1, 10, 20, 30, 40]
l3 = [False, 90, 200]

print(all(l1))
print(all(l2))
print(all(l3))

False
True
False

## sum()

In [ ]:
sum([10, 20, 30])

## Lambda Functions
  `lambda arguments : expression`

In [ ]:
def is_even(n):
  if(n % 2 == 0):
    return True
  else:
    return False

In [ ]:
is_even(10)

True

In [ ]:
is_even(11)

False

In [ ]:
check_even = lambda x : x % 2 == 0

In [ ]:
check_even(11)

False

In [ ]:
# lambda with multiple arguments

mysum = lambda a, b : a + b
mysum(10, 20)

30

## filter() function

In [ ]:
def filter_even(num):
  if num % 2 == 0:
    return True
  else:
    return False

In [ ]:
nums = list(range(20))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
result = filter(filter_even, nums)

list(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
result = filter(lambda x : x % 2 != 0, nums)

list(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Class

In [ ]:
class Student:
  pass


std1 = Student()
std2 = Student()

print(std1)
print(std2)

<__main__.Student object at 0x7f3d8a2cf810>
<__main__.Student object at 0x7f3d8a2cfd10>

In [ ]:
std1.fname = "Harry"
std1.lname = "Potter"
std1.email = "harry.potter@gmail.com"
std1.roll = 21

In [ ]:
std1.fname

'Harry'

In [ ]:
std2.fname = "Ron"
std2.lname = "Weasley"
std2.email = "ron.weasley@gmail.com"
std2.roll = 22

In [ ]:
std2.roll

22

In [ ]:
class Student:
  def __init__(self, fname, lname, roll):
    self.fname = fname
    self.lname = lname
    self.email = "{}.{}@hogwarts.com".format(fname, lname)
    self.roll = roll


std1 = Student("Harry", "Potter", 21)
std2 = Student("Ron", "Weasley", 22)

In [ ]:
std1.email

'Harry.Potter@hogwarts.com'

In [ ]:
print("{} {}".format(std1.fname, std1.lname))

Harry Potter

In [ ]:
class Student:
  def __init__(self, fname, lname, roll):
    self.fname = fname
    self.lname = lname
    self.email = "{}.{}@hogwarts.com".format(fname, lname)
    self.roll = roll
  
  def fullname(self):
    return "{} {}".format(self.fname, self.lname)


std1 = Student("Harry", "Potter", 21)
std2 = Student("Ron", "Weasley", 22)

In [ ]:
std1.fullname()

'Harry Potter'

In [ ]:
std1.__dict__

{'email': 'Harry.Potter@hogwarts.com',
 'fname': 'Harry',
 'lname': 'Potter',
 'roll': 21}